{{#if hasConceptStatus}}
  <div class="concept-status {{conceptStatus}}" title={{tooltipConceptStatus}}>
  </div>
{{/if}}
{{#if hasMappingStatus}}
  <div class="mapping-status {{mappingStatus}}" title={{tooltipMappingStatus}}>
  </div>
{{/if}}

