<div class="score">
  <span class="finished">{{value}}</span> / <span class="total">{{total}}</span>
</div>
<div class="bar">
  <div class="finished" style={{percentage}}></div>
</div>
<div class="label">
  {{label}}
</div>
