<div class="right tutorial">
    <h2>Welcome to the Mapping Platform</h2>
    <div class="section">
        <div class="icons">
            <i class="fa fa-angle-right"></i>
        </div>
        <h3>Browse Concepts</h3>
        <p>To begin, use the source classification on the left to select a concept to map. Browse through the concepts by clicking <span class="icon"><i class="fa fa-angle-right"></i></span> to the left of each.</p>
    </div>
    <div class="section">
        <div class="icons">
            <i class="fa fa-sliders"></i>
        </div>
        <h3>Filter Concepts</h3>
        <p>Search for specific concepts by using the white filter bar.</p>
        <p>Use <span class="icon"><i class="fa fa-sliders"></i></span> to show more filtering options. <q>All</q> and <q>ESCO Occupations</q>, provide drop-down menus to change the structure of the classification. <q>All</q> shows all, to be mapped, to be reviewed, to be approved and concepts with more than one exact match. <q>ESCO Occupations</q> changes the structure according to the ESCO hierarchy and List mode.</p>
    </div>
    <div class="section">
        <div class="icons">
            <i class="fa fa-angle-down"></i>
        </div>
        <h3>Select a Concept</h3>
        <p>Select a concept in the source classification to map. Once chosen, this concept appears in the <q>selected concept box</q> at the top right of the screen with its description and terms. Click <span class="icon"><i class="fa fa-angle-down"></i></span> at the bottom of the box to see more information.</p>
    </div>
    <div class="section">
        <div class="icons">
            <i class="fa fa-link"></i>
        </div>
        <h3>Map a Concept</h3>
        <p>To map a concept, use the <q>Map concept to ...</q> box in the right pane, where the target classification is located. This classification can be browsed in the same way as the left.</p>
        <p>When a match is selected, it appears in the <q>Mapped concepts box</q> just above. Each mapping here can be indicated as match, more specific or more general than the selected concept above. Expand and collapse this box with <span class="icon"><i class="fa fa-angle-down"></i></span> at the bottom.</p>
        <p>Concepts with mappings appear with <i class="fa fa-link"></i> in the source classification.</p>
    </div>
    <div class="section">
        <div class="icons">
            <i class="fa fa-check"></i>
            <i class="fa fa-times"></i>
            <i class="fa fa-trash"></i>
        </div>
        <h3>Review Mappings</h3>
        <p>Delete, confirm or reject individual mappings in the <q>Mapped concepts box</q> by clicking
            <span class="icon">
                <i class="fa fa-check"></i>
                <i class="fa fa-times"></i>
                <i class="fa fa-trash"></i>
            </span>.
            To monitor the progress of a concept and its mappings, use the drop-down menu at the top of the selected concepts box. Concepts can be labelled as <i class="fa fa-check"></i> approved, <i class="fa fa-times"></i> rejected, <i class="fa fa-pencil"></i> in progress and <i class="fa fa-eye"></i> ready for review. These symbols accompany the concepts in the source classification.</p>
    </div>
    <div class="section">
        <div class="icons">
            <i class="fa fa-comment"></i>
        </div>
        <h3>Add Comments</h3>
        <p>Click <span class="icon"><i class="fa fa-comment"></i></span> next to the selected concept box to leave a comment on the concept. The number inside the bubble indicates how many comments there are.</p>
    </div>
</div>
